.btn-dash {
  @include add-btn;
  position: absolute;
  top: 7rem;
  left: 5rem;
}

.nav {
  display: flex;

  width: 100% !important;
  .content-nav {
    align-items: flex-end;
    flex-direction: row !important;
  }
}

h1 {
  text-align: center;
}

.wide {
  width: 100% !important;
}
