#hi1 {
  background-image: url("../images/HabitTracker.svg") !important;
  background-size: cover;
}

#hi2 {
  background-image: url("../images/Journal.svg") !important;
  background-size: cover;
}

#hi3 {
  background-image: url("../images/WaterIntake.svg") !important;
  background-size: cover;
}
