@font-face {
  font-family: "sparose";
  src: local("sparose"), url(./fonts/sparose.ttf) format("truetype");
}
@font-face {
  font-family: "questrial";
  src: local("questrial"), url(./fonts/Questrial-Regular.ttf) format("truetype");
}

* {
  padding: 0.3rem;
  //background-color: #ebebeb;
  color: #333333;
}

.img {
  padding-left: 5rem;
  @media (max-width: 500px) {
    padding: 0;
  }
}

h1 {
  font-family: "sparose" !important;
  color: #dd2c2c;
}

h4 {
  color: #333333;
}
h5 {
  color: #767676;
}

.Button {
  background-color: #dd2c2c !important;
  border-radius: 20px !important;
  margin-top: 2rem !important;
  width: 100% !important;
  .MuiButton-label {
    color: white;
    font-size: larger;
  }
}

a {
  margin-top: 2rem !important;
}
