.MuiToolbar-root {
  justify-content: space-evenly;
  box-shadow: none;
}

.Container {
  display: flex;
}

.header {
  padding-bottom: 1rem;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

#nav-bar {
  background-color: white;
}
