.MuiToolbar-root {
  background-color: white;
  justify-content: space-between;
  box-shadow: none;
}

.Container {
  display: flex;
}

.header {
  padding-bottom: 1rem;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

.MuiAppBar-colorPrimary {
  background-color: white !important;
}
