.MuiPaper-root {
  height: 10rem;
  margin: 0.2rem;

  justify-content: space-evenly;
}
#hi1 {
  background-image: url("../images/HabitTracker.svg") !important;
  background-size: cover;
}

#hi2 {
  background-image: url("../images/Journal.svg") !important;
  background-size: cover;
}

#hi3 {
  background-image: url("../images/WaterIntake.svg") !important;
  background-size: cover;
}

.MuiGrid-root {
  justify-content: space-evenly;
  width: 100%;
  // padding: 2rem;
  // cursor: pointer;
  // // &:nth-child(even) {
  // //   margin-top: 3rem;
  // // }

  @media (max-width: 760px) {
    padding: 1rem 0.5rem 2rem 0.5rem;

    &:nth-child(even) {
      margin-top: 0;
    }
  }
}

#stick {
  position: fixed;
  margin-bottom: 1rem;
  margin-right: 1rem;
  bottom: 0;
  z-index: 2;
  right: 0;
  background-color: #1e9999;
}

#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  padding: 2rem 2rem 2rem 2rem;

  #hi1 {
    padding: 1rem 0.5rem 2rem 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  #hi2 {
    padding: 1rem 0.5rem 2rem 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  #hi3 {
    padding: 1rem 0.5rem 2rem 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  @media (max-width: 760px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
    #hi1 {
      margin-top: 2rem;
    }
  }
}

.MuiContainer-root {
  // margin-bottom: 5rem;
}
