@import "mixins";
@import "landingpage";
@import "dashboard";
@import "nav";
@import "grabWidgets";
@import "widgets";
@font-face {
  font-family: "questrial";
  src: local("questrial"), url(./fonts/Questrial-Regular.ttf) format("truetype");
}

* {
  font-family: "questrial" !important;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
